@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--almost-white);
}
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button {
  font-family: "Epilogue", sans-serif;
}
.container {
  margin: auto;
  width: 77%;
}
.btn {
  padding: 12px 20px;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  color: var(--almost-black);
}
.btn:active {
  background-color: var(--almost-black);
  color: var(--almost-white);
  transition: 0.3s;
}
.btn-border-none {
  border: none;
}

/* Navbar */

.navbar {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navigation {
  list-style: none;
}
.navbar .navigation .brand {
  margin-right: 40px;
  display: inline-block;
}
.navbar .navigation .brand a {
  text-decoration: none;
  font-size: 35px;
  color: var(--almost-black);
}
.navbar .navigation li {
  margin: 0 15px;
  display: inline-block;
}
.navbar .navigation li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--medium-gray);
}

/* Left section */
.left-box {
  width: 50%;
  display: inline-block;
}
.left-box .headline {
  margin-top: 150px;
  font-size: 80px;
}
.left-box .description {
  width: 80%;
  margin: 45px 0;
  line-height: 30px;
  font-size: 18px;
}
.left-box .left-box-btn {
  padding: 18px 27px;
  background-color: var(--almost-black);
  color: var(--almost-white);
  font-size: 18px;
}
.left-box .left-box-btn:active {
  background-color: transparent;
  color: var(--almost-black);
}
.left-box .left-box-list {
  margin-top: 110px;
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

/* Right section */
.right-box {
  width: 49%;
  display: inline-block;
}
.right-box-img {
  width: 90%;
  transform: translateX(100px);
}
/* Footer */

.footer {
  margin: 50px 0;
  text-align: center;
}
.footer .footer-description a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
